body {
  font-family: "Fira Sans", sans-serif;
  color: #5D5E5E;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  width: 99%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow:hidden;
  padding: 0;
}

.container li {
  list-style: none;
  display: inline;
}

.row {
  overflow:hidden;
}

#header {
  font-size: 2.5em;
}

.items:hover {
  background-color: red;
  color:white;
}

.date {
  font-size: 2em;
  color: #BDBBBB;
}

a:link {
  text-decoration: none;

}

a:visited {
  text-decoration: none;
}

.see-more {
  color: #F50707;
  text-align: right;
  font-weight: bold;
  margin-top: 15px;
}

.article-divider {
  border-top:#CCC 1px solid;
  margin:20px 20px;
}

.article-title {
  font-size: 2em;
}

.article-image {
  padding-bottom: 15px;
  width: 100%;
}

h1 {
  color: #F50707;
}

h1 small {font-size: small;
  color: #BDBBBB;
}

.topnav a {
  display:block;
  padding:15px;
  background-color:#000;
  color:#BDBBBB;
  font-size:18px;
  border-right:#FFF 1px solid;
}

bottom-nav {
  text-align: center;
  background-color: transparent;
}

.bottom-nav li {
  list-style: none;
  display: inline;
  color: #F50707;
}

.divider {
  color:#BDBBBB;
}

.txt-center {
  text-align:center;
  font-size: 18px;
  padding-top: 30px;
}

.margin-left {
  margin-left: 0;
}

.copyright {
  text-align: left;
  color: #BDBBBB;
  padding-bottom: 20px;
}

.side-header {
  font-weight: bold;
  color: #5D5E5E;
  padding-bottom: 20px;
  padding-top: 40px;
}

.col-2, .col-8, .col-4, .col-3, .col-7 {
  float:left;
  box-sizing: border-box;
}

.col-2 {
  width:16.6666666666%;
  min-width: 150px;
}

.col-8 {
  width:66.66666666666%;
  min-width: 500px;
}

.col-4 {
  width:33.33333333%;
  min-width:400px;
  padding-top: 20px;
  padding-left: 20px;
}

.col-3 {
  width: 25%;
  min-width: 250px;
}

.col-7 {
  width:75%;
min-width: 6000px;
}

.popular-posts {
  list-style-type: circle;
}

/*Arun, having the worst time getting the bullets to show bak cup again, how do I do this?*/

.popular-posts a {
  color: #F50707;
  list-style-type: circle;
  text-decoration: none;
}
